.content-galeria {
  background-color: #361C25;
  padding: 60px 40px;
  text-align: center;
  color: #F0D6D6;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
}

.content-galeria h2 {
  font-size: 22px;
  margin-bottom: 480px;
  letter-spacing: 1px;
  position: absolute;

}

.galeria-content {
  gap: 25px;
  justify-items: center;
}

.content-galeria figure {
  background-color: #d4b1b2;
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}

.content-galeria figure:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0,0,0,0.4);
  z-index: 3;
}

.content-galeria img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.content-galeria figcaption {
  display: none; /* aparece só no hover */
  background: rgba(54, 28, 37, 0.9);
  color: #F0D6D6;
  font-size: 14px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.content-galeria figure:hover figcaption {
  display: block;
}

.item-1{
  position: absolute;
  top: 80px;
  left: 20px;
  width: 20%;
}

.item-2{
  position: absolute;
  top: 80px;
  left: 1000px;
  width: 18%;
}

.item-3{
  position: absolute;
  top: 330px;
  left: 400px;
  width: 15%;
}

.item-4{
  position: absolute;
  top: 360px;
  left: 20px;
  width: 20%;
}

.item-5{
  position: absolute;
  top: 80px;
  left: 400px;
  width: 30%;
}

.item-6{
  position: absolute;
  top:330px;
  left: 700px;
  width: 15%;
}



