.content-inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-width: 900vw;
}

.content-img-inicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.content-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    gap: 35px;
    padding-right: 25px;
    z-index: 2;
}

.content-info_title{
    color: #FFD5D5;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 100px;
}

.content-info p{
    color: #E4D6D6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 100px;
}


