.content-repertorio-atual {
  background-color: #D4B1B2;
  font-family: Arial, sans-serif;
  color: #000;
  position: relative;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.repertorio-titulo {
  background-color: #0D2D25;
  width: 100%;
  padding: 10px;
  position: absolute;
  align-items: flex-end;
  margin-top: -38%;

}

.repertorio-titulo h2 {
  color: #d4b1b2;
  font-size: 30px;
  padding: 0px 30px;
}

.repertorio-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 60px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.repertorio-coluna {
  flex: 1 1 22%; /* Quatro colunas equilibradas */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.repertorio-coluna img {
  width: 100%;
  height: auto;
  max-height: 420px; /* Alinhamento visual */
  object-fit: cover;
  border-radius: 6px;
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
  top:10px;
  position: absolute;
}

.repertorio-coluna video{
  width: 100%;
  height: auto;
  max-height: 420px; /* Alinhamento visual */
  object-fit: cover;
  border-radius: 6px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  top: 10px;
  position: absolute;

}

/* Quando o mouse estiver sobre o contêiner... */
.repertorio-coluna:hover img {
  /* 1. Oculta a imagem */
  opacity: 0; 
}

.repertorio-coluna:hover video {
  /* 2. Mostra o vídeo */
  opacity: 1;
}

.repertorio-texto h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.repertorio-texto p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 0;
}